In [1]:
# list can have heterogenous datatype

In [13]:
list_char = [1,2,'o','k','i',3]
list_num = [1,2,45,6,7,2,90,23,435]

In [14]:
list_num.append(11) # Add 11 to the list, by default adds to the last position
print(list_num)

[1, 2, 45, 6, 7, 2, 90, 23, 435, 11]

In [6]:
list_num.append([99,34]) # Add 11 to the list, by default adds to the last position

In [7]:
list_num.extend([99,34]) # Add 11 to the list, by default adds to the last position

In [8]:
list_num.insert(0, 11)
print(list_num)

[11, 1, 2, 45, 6, 7, '2', '90', '23', '435', [99, 34], 99, 34]

In [9]:
list_char.remove('o') # Remove the first occurence of 'o' from list_char
print(list_char)

[1, 2, 'k', 'i', 'e']

In [10]:
list_char.pop(-2) # Removes the item at the specified position
print(list_char)

[1, 2, 'k', 'e']

In [16]:
list_num.sort() # In-place sorting
print(list_num)

[1, 2, 2, 6, 7, 11, 23, 45, 90, 435]

In [12]:
list_num.reverse()
print(list_num)

[34, 99, [99, 34], '435', '23', '90', '2', 45, 11, 7, 6, 2, 1]